<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RSS_Reader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body data-bs-theme="dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RSS_Reader</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="d-flex sticky-bottom">
        <button type="button" class="btn btn-secondary btn-lg btn-back-to-top rounded-4 shadow-sm p-2 mb-2
            ms-auto" style="width: 150px; display: none; margin-right: 10px" id="btn-back-to-top">Back To Top</button>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center align-items-center">
            <p class="m-0 pe-2">&copy; 2025 - RSS_Reader</p> - <a href="https://github.com/Alexzander-Hurd/RSS-Reader/" target="_blank">
                <div class="d-flex align-content-center justify-content-center text-center">
                    <img src="https://img.shields.io/github/stars/Alexzander-Hurd/RSS-Reader.svg?style=for-the-badge"
                        alt="GitHub" style="max-width: 100px; height: auto;" class="ps-2" />
                    <p class="m-0 ps-1">GitHub Repo</p>
                </div>
            </a>
        </div>
    </footer>

    <div class="position-fixed top-0 end-0 p-3" id="toast-container"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
